<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE phpunit>

<phpunit
    bootstrap="test/bootstrap.php"
    strict="true"
    verbose="true"
    fork="true"
    stopOnFailure="false"
    syntaxCheck="true"
    backupGlobals="false"
    backupStaticAttributes="false"
    convertErrorsToExceptions="true"
    convertFailuresToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="true"
>

   <logging>
<!--        <log type="coverage-html" highlight="false" target="web/coverage" charset="UTF-8" yui="true" lowUpperBound="75" highLowerBound="90" /> -->
   </logging>

    <testsuites>
        <testsuite name="Sample Unit Tests">
            <file>test/lib/UserTest.php</file>
         </testsuite>
    </testsuites>

</phpunit>
